<h3>Fork-n-Go on Harp</h3>

This is a fork of jlord's project to run as a Harp boilerplate. Spreadsheet URLs and keys have been moved to <code>harp.json</code>, so just edit that file to run your own version.

<ul>
	<li>Live demo site at <a href="http://sheetsee.harpapp.io/">sheetsee.harpapp.io/</a></li>
	<li>Harp source boilerplate <a href="https://github.com/bmann/harpbp-sheetsee/">on github.com/bmann/harpbp-sheetsee</a></li>
</ul>